
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="wrapper">
    <img src="~/Content/images/magic-eight-ball-answer.png" />
    <div id="reply"></div>
</div>

@* Use on click to shake and swap image so that the reply appears inside ball *@

<script>
    $(document).ready(function () {
        $("img").hover(function () {
            $.get("@Url.Action("ShakeBall","Home")", function (response) {
                $("#reply").text(response);
                console.log(response);
            });
        });
    });
</script>

